---
const caseStudy = {
  summary: "🚀 The People of Leisure project aims to boost online presence by increasing conversion rates among younger audiences while showcasing sustainable practices and ethical manufacturing. Research revealed a diverse audience valuing quality and sustainability, guiding our design process. 🌱✨ #UX #Sustainability.",
  goals: "The project aimed to strategically enhance People of Leisure's online presence by increasing conversion rates among younger demographics while transparently communicating the brand's commitment to sustainability. This involved showcasing their Los Angeles-based production process, emphasizing the use of organic cotton, and creating a narrative that highlights their ethical manufacturing practices. The goal was to transform the brand's digital experience into a compelling story that resonates with environmentally conscious consumers, ultimately driving sales and strengthening brand perception.",
  ux: "The research combined multiple methodologies, including benchmarking, user behavior analysis with Hotjar, and proto-persona development. Due to remote work constraints, proto-personas were created by combining data from Google Analytics and Shopify Analytics, as field work was not possible.",
  ux2: "Findings revealed a diverse audience of women who value sustainability and quality. The study identified challenges such as time constraints, product image inconsistencies, and sizing uncertainties. It also highlighted the importance of an optimized mobile shopping experience and an active social media presence.",
  user:"User profiles were developed based on demographic and behavioural data, identifying environmentally conscious women seeking quality, purposeful fashion. These individuals value transparency, sustainability and a hassle-free shopping experience, which guided the entire design process.",
  process:"The design process was iterative and user-centred, starting with the exploration of clean, modern design concepts. Tools such as Figma were used to create prototypes and flows, conducting usability tests with 6 users using UX Proximal. Each iteration was based on direct feedback, constantly refining the experience to ensure intuitive and engaging navigation.",
  prototype: {
    description: "Solutions included a clean, modern design that highlighted products, improved information architecture, more effective communication of sustainability efforts and a fully optimised mobile shopping experience. The goal was to create an interface that was not only aesthetically pleasing, but also functional and aligned with brand values.",
    links: [
      {
        title: "Desktop Mockup 01",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=522-69&node-type=frame&t=48CJ5JHarODzIlzV-9&scaling=scale-down-width&content-scaling=fixed&page-id=4%3A0&starting-point-node-id=522%3A69&show-proto-sidebar=1&fuid=703582419994277885"
      },
      {
        title: "Desktop Mockup 02",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=951-1661&node-type=frame&t=48CJ5JHarODzIlzV-9&scaling=scale-down-width&content-scaling=fixed&page-id=4%3A0&starting-point-node-id=951%3A1661&show-proto-sidebar=1&fuid=703582419994277885"
      },
      {
        title: "Mobile Mockup 01",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=792%3A486&show-proto-sidebar=1" 
      },
      {
        title: "Mobile Mockup 02",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=793%3A612&show-proto-sidebar=1"
      },
      {
        title: "Mobile Mockup 03",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=793%3A1019&show-proto-sidebar=1"
      },
      {
        title: "Mobile Mockup 04",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=798%3A1026&show-proto-sidebar=1"
      },
      {
        title: "Mobile Mockup 05",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=813%3A816&show-proto-sidebar=1" 
      },
      {
        title: "Mobile Mockup 06",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=867%3A1228&show-proto-sidebar=1" 
      },
      {
        title: "Mobile Mockup 07",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=870%3A1155&show-proto-sidebar=1" 
      },
      {
        title: "Mobile Mockup 08",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=871%3A2275&show-proto-sidebar=1" 
      },
      {
        title: "Mobile Mockup 09",
        url: "https://www.figma.com/proto/y2IXiEkiiOUxG5BwYbeV3K/People-of-Leisure-Project?node-id=4-5&node-type=canvas&t=StGNNuNwyDmN4M2H-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=878%3A2502&show-proto-sidebar=1" 
      }
    ]
  }
};


const imagePath = "/assets/PeopleOfLeisure_UserPaulette_ArielConde_2021.webp";
const imagePath2 = "/assets/PeopleOfLeisure_UserSydney_ArielConde_2021.webp";
const imagePath3 = "/assets/PeopleOfLeisure_UserErika_ArielConde_2021.webp";
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-lg font-medium tracking-tight sm:text-2xl">{caseStudy.summary}</h2>
      <div class="grid gap-8 grid-cols-1 md:grid-cols-3">
        <div class="flex flex-col items-center justify-start gap-8">
          <img src={imagePath} alt="Case Study Illustration" class="rounded-3xl object-cover w-full h-auto"/>
          <img src={imagePath2} alt="Case Study Illustration" class="rounded-3xl object-cover w-full h-auto"/>
          <img src={imagePath3} alt="Case Study Illustration" class="rounded-3xl object-cover w-full h-auto"/>
        </div>
        <div class="col-span-2 grid gap-8 sm:grid-cols-2">
          <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-4 rounded-3xl px-6 py-8">
            <h3 class="text-xl font-medium">Goals</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
            {caseStudy.goals}
          </p>
          </div>
          <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-4 rounded-3xl px-6 py-8">
            <h3 class="text-xl font-medium">Research
            </h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
              {caseStudy.ux}
              {caseStudy.ux2}
            </p>
          </div>
          <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-4 rounded-3xl px-6 py-8">
            <h3 class="text-xl font-medium">User Definition
            </h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
              {caseStudy.user}
            </p>
          </div>
          <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-4 rounded-3xl px-6 py-8">
            <h3 class="text-xl font-medium">Design Process
            </h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
              {caseStudy.process}
            </p>
          </div>
        </div>
      </div>
      <div class="bg-secondary-100 dark:bg-secondary-900 rounded-3xl p-8 mt-8">
        <h3 class="text-2xl font-bold mb-4">Proposed Solutions</h3>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-lg mb-6">
          {caseStudy.prototype.description}
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          {caseStudy.prototype.links.map((link) => (
            <a 
              href={link.url} 
              target="_blank" 
              rel="noopener noreferrer" 
              class="bg-primary-500 hover:bg-primary-600 text-white font-bold py-2 px-4 rounded inline-flex items-center transition duration-300"
            >
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                class="w-5 h-5 mr-2"
                stroke-width="1.5"
              >
                <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" 
                />
                <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                />
              </svg>
              <span>{link.title}</span>
            </a>
          ))}
        </div>

      </div>
    </div>
  </div>
</section>
  